#botonfijo{
text-align: center;
position:absolute;
top:14%;
right: 0%;
transform: translate(-1%, -1%);
clear: both;
position: fixed;
z-index: 2;    
}
#botonfijo1{
text-align: center;
position:absolute;
top:14%;
right: 10%;
transform: translate(-4%, -4%);
clear: both;
position: fixed;
z-index: 2;   
}
#menuvertical {
text-align: center;
position:absolute;
top:14%;
right: 0%;
transform: translate(-1%, -1%);
clear: both;
position: fixed;
z-index: 2;
}
#menuvertical ul { list-style-type: none; padding:0;}
#menuvertical ul li.nivel1 {
width: 50px; /* Ancho de las pestañas */
}
#menuvertical ul li.primera {
border-top: solid 5px #FFF; /* Borde superior de la primera pestaña */
right: 0%;
width: 500px;
}
#menuvertical ul li {padding:0;}
#menuvertical ul li a {
float: left;
right: 0%;
color: #fff; /* Color del texto */
position: relative;
}
#menuvertical ul li:hover {
position: relative;
color: black; /* Color del texto al pasar el mouse */
}
#menuvertical ul li a:hover, #menuvertical ul li:hover a.nivel1 {
position: relative;
}
#menuvertical ul li a.nivel1 {
display: block !important;
display: none;
height: 30px;
width: 30px;
position: relative;
position: fixed;
z-index: 2;
}
#menuvertical ul li ul {
display: none;
width: 200px;
clear: both;
position: fixed;
z-index: 2;
}
#menuvertical ul li a:hover ul, #menuvertical ul li:hover ul {
display: block;
right: 0px;
width: 30px;
top: 28px;
clear: both;
position: fixed;
z-index: 2;
}
#menuvertical ul li ul li a {
height: 30px;
width: 30px;
color: #fff; /* Color del texto subpestañas */
}
#menuvertical ul li ul li a:hover {
position: relative;
width: 50px;
}
#enviar{
color: blue;
font-family: arial black;
background-color: #CCFFFF;
width: 150px;
height: 30px;
border: 3px solid blue;
}

#contenedor {
    width: 500px;
    background: ghostwhite;
    margin: 1px;
    overflow:auto;
    height: 400px;
    padding: 20px;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
@media only screen and (max-height: 100px) {
#caja-chat{
    height: 100%;
    width: auto;
    overflow:auto;
}}
#datos-chat{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid silver;
    font-family: sans-serif;
    overflow:auto;
}
input[type='text']{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type='submit']{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
textarea{
    width: 80%;
    overflow:auto;
    height: 40px;
    border: 1px solid gray;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input, textarea{
    margin-bottom: 3px;
    height: 40px;
}
.boton-chat{
    font-size: 10pt;
    color: blue;
    border: 2px solid black;
    background-color: white;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.botonfijo
{
    background-color: white;
    font-family: arial black;
    font-size: 15px;
    color: blue;
    border: 2px solid black;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.botonfijo1
{
    background-color: white;
    color: blue;
    border: 2px solid black;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.msg1{
    font-size: 11pt;
    color: #E4292F;
}
.estilo1
               {
                 background-color: white;
                 color: #000080;
                 font-size: 13px;
                 width: 11%;
                 border: 1px solid blue;
                 font-family: Arial Black;
                 -moz-border-radius: .4em;
                 border-radius: .4em;
                 margin: 2px;
                 cursor: pointer;
               }
               
.estilo2
               {
                 background: url(../imagenes/metal.png) no-repeat center center fixed;
                 background-size: cover;
                 -moz-background-size: cover;
                 -webkit-background-size: cover;
                 -o-background-size: cover;
                 color: #E4292F;
                 text-shadow: -1px -1px rgba(0,0,0,.2);
                 border: 5px inset #4444ff;
                 width: 60%;
                 font-family: Arial Black;
                 cursor:pointer;
                 cursor:hand;
                 padding:3px;
                 -moz-border-radius: .9em;
                 border-radius: .9em;
                 margin: 5px;
               }
               
.estilo3
               {
                 background-color: #6495ED;
                 color: Green;
                 size: 20px;
                 font-family: Arial Black;
                 cursor:pointer;
                 cursor:hand;
                 padding:3px;
               }
.estilo4
{
    BORDER-BOTTOM: #336699 10px solid;
    BORDER-LEFT: #336699 10px solid;
    BORDER-RIGHT: #336699 10px solid;
    BORDER-TOP: #336699 10px solid;
    background-color: blue;
                 color: black;
                 size: 20px;
                 font-family: Arial Black;
                 cursor:pointer;
                 cursor:hand;
                 padding:3px;
}
.estilo5
               {
                 background-color: blue;
                 color: black;
                 size: 20px;
                 font-family: Arial Black;
                 cursor:pointer;
                 cursor:hand;
                 padding:3px;
               }
.input_text 
{
    BACKGROUND-COLOR: yellow;
    BORDER-BOTTOM: #336699 1px solid;
    BORDER-LEFT: #336699 1px solid;
    BORDER-RIGHT: #336699 1px solid;
    BORDER-TOP: #336699 1px solid;
    COLOR: navy;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12pt;
    -moz-border-radius: .5em;
    border-radius: .5em;
}
.input_text2
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #336699 1px solid;
    BORDER-LEFT: #336699 1px solid;
    BORDER-RIGHT: #336699 1px solid;
    BORDER-TOP: #336699 1px solid;
    COLOR: #30608f;
    FONT-FAMILY: Verdana;
    FONT-SIZE:9pt
}

.input_text_combo 
{
	BORDER-BOTTOM: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	COLOR: #000066;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	height: 20px;
        width: 300px;
}

.input_text_combo2 
{
	BORDER-BOTTOM: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	COLOR: #000066;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	height: 100px;
}


.input_text_r /* input number AAV */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid;
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    text-align: RIGHT;
}
/* Textos */

.text_normal
{
        TEXT-ALIGN: center;
	COLOR: blue;
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
}


.text_normal_1
{
	COLOR: #000099;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
    FONT-WEIGHT: bold;
}

.text_normal2
{
        TEXT-ALIGN: center;
	COLOR: 	#1E90FF;
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
}

.text_normal3
{
        TEXT-ALIGN: center;
	COLOR: 	#3300FF;
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 15pt;
    FONT-WEIGHT: bold;
}

.text_mensaje
{
	COLOR: black;
	FONT-FAMILY: Arial black;
	FONT-SIZE: 12pt	           
}


.menu
{
	COLOR: #808080;
	FONT-FAMILY: Tahoma;
    FONT-SIZE: 8pt;
	FONT-WEIGHT:bold;
		           
}

.text_menu
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12pt;
    COLOR: NAVY
}
.text_menu1
{
    font-family: castellar black;
    FONT-SIZE: 11pt;
    COLOR: blue
}

.text_menu2
{
    font-family: arial black;
    FONT-SIZE: 15pt;
    COLOR: NAVY
}

.text_menu3
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 15pt;
    background-color: black;
    COLOR: white
}

.fila_impar /* ex fila */
{
    COLOR: #000066;
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: left;
    text-transform: none;

}


.fila_par /* ex fila1 */
{
    COLOR: #000066;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR:#D5F7FF;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: left;
    text-transform: none;
    font-style: normal;
}


.text_fila_3 /* ex fila1 */
{
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR:blue;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: center
}


/* USADO */
.text_izq_columna/* ex fila */
{
    TEXT-ALIGN: left;
}


/* USADO */
.text_der_columna/* ex fila */
{
    TEXT-ALIGN: right;
}


/* Titulos */

.text_titulo_1 /* ex titulo3 */
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
	COLOR: "ff0000";
	TEXT-DECORATION: none;
}

.text_titulo_2 /* ex titulo4 */
{
	COLOR: #000000;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left;
	
}



.text_titulo_3 /* ex titulo4 */
{
	COLOR: black;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
	FONT-WEIGHT: bold
	
}
 
.text_titulo_4 /* ex titulo2 (no usado) */
{
	COLOR: #000000;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
	FONT-WEIGHT: bold
}

.text_titulo_5 /* ex titulo2 (no usado) */
{
	COLOR: black;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
	FONT-WEIGHT: bold
}

.text_titulo_6 /* ex titulo 3A (no usado) */
{
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt
}

/* Tablas */

.tabla_1 /* ex tabla1*/
{
	BACKGROUND-COLOR: WHITE;
        COLOR: black;
	FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10.6pt
}


.tabla_3 /* ex tabla */
{
	background: url(../imagenes/metal.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        TEXT-ALIGN: center;
        border: 10px solid black;
}


.tabla_4  {
	BACKGROUND-COLOR: "#c0c0c0";
	TEXT-ALIGN: center
}

.tabla_5 /* ex tabla */
{
	BACKGROUND-COLOR: #FDF5E6;
        TEXT-ALIGN: center
}


.text_titulo_cabecera
{
    COLOR: #808080;
	FONT-FAMILY: Arial;
	FONT-SIZE: 18pt;
	
}	
.texttotales {
	font-size: 10px;
	font-style: normal;
	color: #000099;
	line-height: normal;
	text-decoration: overline;
	font-weight: bold;
}
.FondoTabla {
	border: thin outset;


}
.tituloFormulario {
	font-family: Tahoma;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #000066;
	text-transform: capitalize;
}

.tituloFormulario1 {
	font-family: castellar;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #000066;
	text-transform: capitalize;
}

.boton {
	font-size: 12px;
	font-family: Tahoma;
	text-transform: none;
	text-align: center;
        background-color: #757575;
	font-weight: bold;
	font-variant: normal;
	color: skyblue;
        cursor:pointer;
        width: 200px;
        padding:3px;
}

.boton1 {
	font-size: 12px;
	font-family: Tahoma;
	text-transform: none;
	text-align: center;
	font-weight: bold;
	font-variant: normal;
	color: blue;
        -moz-border-radius: .9em;
        border-radius: .9em;
        border: 2;
}

.boton2 {
	font-size: 13px;
	font-family: Arial Black;
	text-transform: none;
	text-align: center;
	font-weight: bold;
	font-variant: normal;
	color: #000066;
        background: url(../imagenes/metal.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        border-top: 2px solid #000080;
        border-bottom: 2px solid #000080;
        width: 1400px;
        margin: auto;
        clear: both;
        z-index: 2;
}

.boton3 {
	font-size: 30px;
	font-family: castellar;
	text-transform: none;
	text-align: center;
	font-weight: bold;
	font-variant: normal;
	color: black;
        background-color: #CCFFFF;
        -moz-border-radius: .3em;
        border-radius: .3em;
}

.boton4 {
	font-size: 12px;
	font-family: arial black;
	text-transform: none;
	text-align: center;
	font-weight: bold;
	font-variant: normal;
	color: green;
        background-color: white;
        -moz-border-radius: .3em;
        border-radius: .3em;
}

.boton5 {
	font-size: 12px;
	font-family: arial black;
	color: white;
        background-color: black;
        border: 4px solid black;
        -moz-border-radius: .3em;
        border-radius: .3em;
}

.boton6 {
	font-size: 20px;
	font-family: arial black;
	text-transform: none;
	text-align: center;
	font-weight: bold;
	font-variant: normal;
	color: green;
        background-color: white;
        border: 4px solid black;
        -moz-border-radius: .3em;
        border-radius: .3em;
}

.boton7 {
	color: white;
        background-color: black;
        -moz-border-radius: .3em;
        border-radius: .3em;
}

.boton8 {
	font-size: 13px;
	font-family: Arial Black;
	text-align: center;
	color: #000066;
        background: url(../imagenes/metalazul.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        border-top: 2px solid;
        width: 100%;
        height: 30px;
}
.boton9 {
	font-size: 13px;
	font-family: Arial Black;
	text-align: center;
	color: #000066;
        border-top: 2px solid;
        border-bottom: 2px solid;
        width: 100%;
        
}
.tablainicio{
    position: fixed;
    width: 100%;
    clear: both;
    z-index: 2;
}
.letrasuperior{
    color: white;
    background-color: #000080;
    border: 1px solid black;
    -moz-border-radius: .3em;
    border-radius: .3em;
}
.imageninicio{
    height: 36px;
    width: 50px;
    display: block;
    padding: 0;
}
.imagenfilasuperior1{
    height: 36px;
    width: 70px;
}
.imagenfilasuperior3{
    height: 36px;
    width: 70px;
    -webkit-transform: rotate(180deg);  /* safari - Chrome*/
    -moz-transform: rotate(180deg);     /* Firefox */
    -o-transform: rotate(180deg);       /* Opera */
    transform: rotate(180deg);
}
.fila_superior1{
    width: 25%;
    float: left;
    height: 36px;
}
.fila_superior2{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-family: arial black;
    color: white;
    -moz-border-radius: .3em;
    border-radius: .3em;
}
.fila_superior3{
    width: 25%;
    float: right;
    height: 36px;
}

.tituloTabla {

	font-size: 15px;
	color: #FFFFFF;
	background-color: #000066;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}

.tituloTabla3 {

	font-size: 20px;
	color: #FFFFFF;
	background-color: #000066;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}

.tituloFormulario2 {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #000066;
	text-align: center;
}
.FondoFormulario {

	background-color: Aquamarine;
	border: thin outset;
}
.tablaLista {
	font-size: 10px;
	color: #000066;
	font-style: normal;
	font-weight: bold;
	font-family: Tahoma;
        background-color: Black;
        text-align: center;


}
.tituloFormulario3 {

	font-family: Tahoma;
	font-size: 5px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-transform: none;
}
.tituloFormularioMensaje {
	font-family: Tahoma;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #0000FF;
	text-transform: capitalize;
	text-align: center;


}
.cambiarFuncion{
	font-family: Tahoma;
	font-size: 11px;
	color: #006633;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: underline;


}
.tituloFormulario4 {


	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF0000;
	text-transform: none;
}

/**********************************************************/


BODY{
	COLOR: black;
	FONT-FAMILY: Arial;
	background-color: #E7E4E6;

}

body, input, select,td,textarea{ 
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px;
}
h1, h2, h3, h4, h5, h6, p, strong, div, form, acronym, label, table, td, th, span, a, hr, code, pre, hr {
	margin:0;
	padding:0;
	font-size: 1em;
	background-repeat:no-repeat;
	list-style-type:none;
}

a, a:visited, a:hover { 
	color:#666; text-decoration:none; 
}
a:hover {
	text-decoration: underline;
}
img{ 
	border:none;
}
hr {
	height: 1px;
	color: #000;
	clear:both;
}
textarea {
	width:80%;
	height:200px;
}
dt {
	font-weight: bold;
}
.clear {
	clear: both;
}
h1 {
	font-size: 2em;
}
h1 a{
	color: #000;
}
div#header {
	background-color: #fea;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 20px 10px 30px 15px;
	margin: 10px 5% 20px 5%;
}
div#header ul{
	margin: 10px 0 0 0;
}
div#header ul li{
	list-style-type: none;
	float: left;
	padding: 0 10px 0 0;
	font-weight: bold;
}
div#header ul li a{
	display: block;
	color: #f00;
	border-left: 1px solid red;
	padding-left: 5px;
}
div#header ul li a:hover{
	border-left: 1px solid #000;
}

h2 {
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}

h2 {
	font-size: 1.1em;
	margin: 10px 0 5px 0;
}

p {
	margin: 0 0 10px 0;
}

acronym {
	border-bottom: 1px dashed #000;
	cursor: help;
}


div#body {
	margin: 0 5% 20px 5%;
	padding: 20px 20px 20px 20px;
	border: 1px dashed #666;
}

div#validxhtml {
	float: right;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px;
	margin: 5px;
	width:100px;
	text-align: center;
}
div#footer {
	
	border-top: 0px solid #666; 
	padding: 5px 5px 5px 5px;
	text-align:right;
}

div#footer span {
	float: left;
}


ul#stylelist {
	margin:0 0 30px 0;
}

ul#stylelist li {
	list-style-type: none;
	float:left;
	width:100px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding:2px;
	margin-right: 2px;
}
/* ***************  */


table {
	
	border: thin none;
	margin: 0px 0;
}


thead tr {
	font-size: 11px;
	color: #FFFFFF;
	background-color: lightskyblue;
	font-weight: normal;
	text-transform: capitalize;
	text-align: center;
	font-family: Tahoma;
}

th.sorted {
    background-color: orange;
    font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
    
    
}
th a, th a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
}
th a:hover {
  text-decoration: underline;
  font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
}



th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;

}
th.sortable a {
	background-image: url(../img/arrow_off.png);
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;

}
th.order1 a {
	background-image: url(../img/arrow_down.png);
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;

}
th.order2 a {
	background-image: url(../img/arrow_up.png);
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
	
	
}
tr.odd {
  COLOR: #000066;
	FONT-FAMILY: Tahoma;
	BACKGROUND-COLOR:#D5F7FF;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
	font-style: normal; 

}
tr.tableRowEven, tr.even {
COLOR: #000066;
	BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
  
}

ul#showsource {
	float: right;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 5px;
	width:100px;
	list-style-type: none;
}


/* test styles */
table.its thead tr {
  background-color: #69c;
}
table.its tr.even {
  COLOR: #000066;
	BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
}

table.mars thead tr {
  background-color: #9c9;
}
table.mars tr.even {
  COLOR: #000066;
	BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
}
table.mars tr.odd {
COLOR: #000066;
	FONT-FAMILY: Tahoma;
	BACKGROUND-COLOR:#D5F7FF;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
	font-style: normal; 
}


table.simple thead tr {
  background-color: #eee;
}
table.simple tr.even {
 COLOR: #000066;
	BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
}

table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple td,table.simple th{
	border: 1px solid #ccc;
}



table.nocol tbody td,table.nocol tbody th{
	border-left: none;
	border-right: none;
}




table.report td, table.report th{
	font:   menu;
}
table.report th{

	background:   buttonface;
	border-width: 0px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor:       hand;
	}
table.report idcol {
	background: buttonface;
}

table.report tr.even{
	COLOR: #000066;
	BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
}
table.report tbody {
	height: 100px;
	overflow: auto;
}

table.report {
	height: 120px;
	overflow: auto;
}

table.report tbody tr{
	height: 10px;
}

table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.sublist {
	margin: 0 0 0 0;
	width: 100%;
}
table.sublist td, table.sublist th {
	width: 50%;
}
div.exportlinks {
	background-color: #E7E4E6;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: -0px 0 10px 0;
	width: 75%;
}

span.export {
	padding: 0 4px 1px 20px;
	display:inline; display:inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}
span.csv {
	background-image: url(../img/ico_file_csv.png);
}
span.xml {
	background-image: url(../img/ico_file_xml.png);
}
span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

span.pagebanner {
	background-color: #E7E4E6;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 75%;
	margin-top: 10px;
	display:block;
	border-bottom: none;
}

span.pagelinks {
	background-color:#E7E4E6;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 75%;
	display:block;
	border-top: none;
	margin-bottom: -0px;
}



		


table.simple td.textRed {color: #b11;}

.fondodemetal{
        background: url(../imagenes/metal.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

.letrasinicio{
    color: #E4292F;
    font-family: arial black;
    font-size: 16px;
    width: 300px;
    height: 15px;
    margin: 5px;
    -moz-border-radius: .5em;
    border-radius: .5em;
    background: white;
    text-shadow: 0 1px 0 grey, 0 2px 0 lightblue;
}

@media screen and (max-width: 800px){
    #menuvertical {
    text-align: center;
    position:absolute;
    top:15%;
    right: 0%;
    transform: translate(-1%, -1%);
    clear: both;
    position: fixed;
    z-index: 2;
    }
    .fila_superior1{
    width: 20%;
    float: left;
}
.fila_superior2{
    width: 60%;
    text-align: center;
    vertical-align: middle;
    font-size: 8px;
    font-family: arial black;
    color: white;
    height: 10px;
    -moz-border-radius: .3em;
    border-radius: .3em;
}
.fila_superior3{
    width: 20%;
    float: right;
}
    .boton5 {
	font-size: 7px;
	font-family: arial black;
	color: white;
        width: 70%;
        background-color: black;
        border: 4px solid black;
        -moz-border-radius: .3em;
        border-radius: .3em;
        display: block;
        margin: auto;
}
.boton8 {
	font-size: 13px;
	font-family: Arial Black;
	text-align: center;
	color: #000066;
        background: url(../imagenes/metalazul.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        border-top: 2px solid;
        width: 100%;
        height: 30px;
}
.boton-chat{
    font-size: 8pt;
    color: blue;
    border: 2px solid black;
    background-color: white;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contenedor {
    width: 335px;
    background: ghostwhite;
    margin: 1px;
    overflow:auto;
    height: 400px;
    padding: 20px;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
    .estilo1
               {
                 background-color: white;
                 color: #000080;
                 font-size: 8px;
                 width: 12%;
                 border: 1px solid blue;
                 font-family: Arial Black;
                 -moz-border-radius: .4em;
                 border-radius: .4em;
                 margin: 2px;
                 cursor: pointer;
               }
               .estilo2
               {
                 background: url(../imagenes/metal.png) no-repeat center center fixed;
                 background-size: cover;
                 -moz-background-size: cover;
                 -webkit-background-size: cover;
                 -o-background-size: cover;
                 color: #E4292F;
                 text-shadow: -1px -1px rgba(0,0,0,.2);
                 border: 5px inset #4444ff;
                 width: 85%;
                 font-family: Arial Black;
                 cursor:pointer;
                 cursor:hand;
                 padding:3px;
                 -moz-border-radius: .9em;
                 border-radius: .9em;
                 margin: 5px;
               }
.letrasinicio{
    color: #E4292F;
    font-family: arial black;
    font-size: 13px;
    width: 300px;
    height: 15px;
}
.msg1{
    font-size: 9pt;
    color: #E4292F;
}
}

@media screen and (max-width: 400px){
    #menuvertical {
    text-align: center;
    position:absolute;
    top:16%;
    right: 0%;
    transform: translate(-1%, -1%);
    clear: both;
    position: fixed;
    z-index: 2;
    }
    .fila_superior1{
    width: 20%;
    float: left;
}
.fila_superior2{
    width: 60%;
    text-align: center;
    vertical-align: middle;
    font-size: 6px;
    font-family: arial black;
    color: white;
    height: 10px;
    -moz-border-radius: .3em;
    border-radius: .3em;
}
.fila_superior3{
    width: 20%;
    float: right;
}
    .boton5 {
	font-size: 6px;
	font-family: arial black;
	color: white;
        width: 70%;
        background-color: black;
        border: 2px solid black;
        -moz-border-radius: .3em;
        border-radius: .3em;
        display: block;
        margin: auto;
}
.boton-chat{
    font-size: 6pt;
    color: blue;
    border: 2px solid black;
    background-color: white;
    width: 95px;
    height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contenedor {
    width: 270px;
    background: ghostwhite;
    margin: 1px;
    overflow:auto;
    height: 400px;
    padding: 20px;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
    .estilo1
               {
                 background-color: white;
                 color: #000080;
                 font-size: 6px;
                 width: 14%;
                 border: 1px solid blue;
                 font-family: Arial Black;
                 -moz-border-radius: .4em;
                 border-radius: .4em;
                 margin: 2px;
                 cursor: pointer;
               }
    .estilo2
               {
                 background: url(../imagenes/metal.png) no-repeat center center fixed;
                 background-size: cover;
                 -moz-background-size: cover;
                 -webkit-background-size: cover;
                 -o-background-size: cover;
                 color: #E4292F;
                 text-shadow: -1px -1px rgba(0,0,0,.2);
                 border: 5px inset #4444ff;
                 width: 95%;
                 font-family: Arial Black;
                 cursor:pointer;
                 cursor:hand;
                 padding:3px;
                 -moz-border-radius: .9em;
                 border-radius: .9em;
                 margin: 5px;
               }
.letrasinicio{
    color: #E4292F;
    font-family: arial black;
    font-size: 10px;
    width: 300px;
    height: 15px;
}
.msg1{
    font-size: 7pt;
    color: #E4292F;
}
}